<div class="index-page">
  <h1>Build Better</h1>
  <p>with our site management tool</p>
  <div class="right">
    <button><%= link_to 'Sign In', signin_path %></button>
    <button><%= link_to 'Sign Up', signup_path %></button>
  </div>
</div>
