<% if @projects.empty? %>
  <div>You're not assigned to any projects yet.</div>
<% end %>

<div class="project-info">
  <% @projects.each do |project| %>
    <%= render partial: 'project_info', locals: { project: project } %>
  <% end %>
</div>

<% if current_user.admin? %>
  <button class="add-new"><%= link_to "Add New Project", new_project_path %></button>
<% end %>
