.main-wrapper {
  background-color: $base-background-color;
  @include grid-container;
  max-width: 1200px;
  margin: auto;
}

header {
  img {
    padding: 25px;
  }
  button {
    float: right;
    margin: 25px;
  }
  h1 {
    font-size: 30px;
    text-align: center;
    letter-spacing: 0.07em;
  }
}

a, a:hover {
  color: white;
}

.center {
  max-width: 500px;
  margin: auto;
  text-align: center;

  .left {
    text-align: left;
  }
}

.danger:hover {
  background: $danger;
  }
