.main-wrapper {
  background-color: $base-background-color;
  @include grid-container;
  max-width: 1200px;
  margin: auto;
}

header {
  img {
    padding: 25px;
  }
  div {
    float: right;
    margin: 35px;
    letter-spacing: 0.04em;
    font-weight: 600;
    color: lighten($base-font-color, 15%);
    a {
      color: $base-font-color;
    }
    a:hover {
      color: $green;
    }
  }
  h1 {
    font-size: 30px;
    text-align: center;
    letter-spacing: 0.07em;
  }
}

a, a:hover {
  color: white;
}

.center {
  max-width: 500px;
  margin: auto;
  text-align: center;

  .left {
    text-align: left;
  }
}

.danger:hover {
  background: $danger;
}
